In [1]:
import pandas as pd

In [15]:
df = pd.read_parquet("gs://abhideep/cybulde/data/processed/filtered_data/test.parquet")

In [3]:
df[df["cleaned_text"].str.len() < 10].sample(n=10)

                                text  label split dataset_name cleaned_text
37115            OK thanks for that.      0   dev          jtc    ok thanks
4185               I'd push for a 4.      0   dev          twt     i d push
21586              Let's get it on!       0   dev          ghc    let s get
30846                   I hate u,,,,      1   dev          twt     i hate u
1156                       I need it      0   dev          twt       i need
44943  you are dumb \n\nyou are dumb      1   dev          jtc    dumb dumb
1900                 What the fuck?       0   dev          ghc    what fuck
42733   You know what you should do?      0   dev          jtc     you know
24247                     er, THOSE.      1   dev          twt     er those
14796              is that ya bitch       1   dev          twt     ya bitch

In [18]:
filtered_df = df[df["cleaned_text"].str.split().apply(len) > 1]

In [19]:
filtered_df[filtered_df["cleaned_text"].str.split().apply(len) < 2]

Empty DataFrame
Columns: [label, split, text, dataset_name, cleaned_text]
Index: []

In [16]:
df[df["cleaned_text"].str.split().apply(len) < 2]

Empty DataFrame
Columns: [text, label, split, dataset_name, cleaned_text]
Index: []

In [17]:
len(df)

16512